.grid-flex{
    display: flex;
    padding: 20PX;
    margin: auto 20px;
}
.grid-flex article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.grid-flex img{
    width: 300px;
    height: auto;
    border-radius: 30%;
}
.grid-flex > p {
    text-align: center;
}